<template>
    <div>
        <span>{{result}}</span>
        <input class="uk-range" type="range"  :min="min" :max="max" :step="step" v-model="result">
        <input type="hidden" :name="name" :value="result">
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Range',
        props: ['name', 'min', 'max', 'default', 'step'],
        data () {
            return {
                result: 0.5,
            }
        },
        created () {
            this.result = this.default;
        }
    }
</script>
<style lang="scss" type="text/scss">
</style>