<template>
    <div class="uk-inline">
        <a class="uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: link" @click.prevent="browse()" v-if="!filename"></a>
        <a class="uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: trash" @click.prevent="deleteFile()" v-else></a>
        <input :class="className" :name="inputname" v-model="filename">
    </div>
</template>
 <script>
export default {
    name: 'FileInput',
    props: {
        inputname: {
            default: 'file'
        },
        file: {
            default: null
        },
        className: {
            default: 'uk-input uk-form-large'
        }
    },
    data () {
        return {
            filename: null
        }
    },
    created () {
        this.filename = this.file;
    },
    methods: {
            browse () {
                const inst = this;
                moxman.browse({
                    view: 'thumbs',
                    oninsert (args) {
                        inst.filename = args.focusedFile.path;
                    }
                });
            },
            deleteFile () {
                this.filename = null;
            }
        }
}
</script>
 