<template>
    <div uk-grid>
        <div class="uk-width-1-3">
            <div uk-form-custom>
                <input type="hidden" :name="inputname" :value="filename">
                <button type="button" @click="browse" class="uk-button uk-button-primary">{{btn}}</button>
                <a href="#" @click.prevent="deleteImage" v-if="filename"
                        class="uk-icon-button uk-button-danger"
                        uk-icon="icon:trash"></a>
            </div>
        </div>
        <div class="image-preview uk-width-2-3">
            <img :src="'/uploads' + filename" v-if="filename" class="uk-animation-scale-down">
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'ImageInput',
        props: {
            inputname: {
                default: 'file'
            },
            img: {
                default: null
            },
            btn: {
                default: 'Choose'
            }
        },
        data () {
            return {
                filename: null
            }
        },
        created () {
            this.filename = this.img;
        },
        methods: {
            browse () {
                const inst = this;
                moxman.browse({
                    view: 'thumbs',
                    oninsert (args) {
                        inst.filename = args.focusedFile.path;
                    }
                });
            },
            deleteImage () {
                this.filename = null;
            }
        }
    }
</script>
<style lang="scss" type="text/scss" scoped>
    .image-preview {
        padding: 0 !important;
        img {
            max-width: 100%;
        }
    }
</style>