<template>
    <div>
        <div class="uk-margin-bottom">
            <button class="uk-button uk-button-primary uk-width-1-1" @click.prevent="browse">Browse Images</button>
        </div>
        <div>
            <draggable v-model="images">
                <div class="uk-animation-fade uk-width-1-4@m galleryImgItem" v-for="(image,key) in images" :key="key" :ref="'image' + key">
                    <div class="galleryImgItemBlock">
                        <div class="galleryImg">
                            <img :src="'/uploads' + image.path">
                        </div>
                        <div class="galleryImgActions uk-padding-small">
                            <ul class="uk-iconnav">
                                <li v-if="showModal">
                                    <a href="#" class="uk-text-primary" @click.prevent="showDescPanel(key)" uk-icon="icon: file-edit"></a>
                                </li>
                                <li>
                                    <a href="#" class="uk-text-danger" @click.prevent="deleteImage(key)" uk-icon="icon: trash"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </draggable>
        </div>
        <div ref="showDesc" uk-modal>
            <div class="uk-modal-dialog" v-if="showDesc !== false && showModal">
                <div class="uk-modal-body">
                    <div class="uk-margin" v-if="showLocale">
                        <localeToggler></localeToggler>
                    </div>
                    <div class="uk-margin" uk-grid>
                        <div class="uk-width-3-4@s" v-if="showTitle">
                            <localized-input class-name="uk-input uk-form-large" placeholder="Title" inputName="title" :obj-data="images[showDesc].title" v-model="images[showDesc].title">
                            </localized-input>
                        </div>
                        <div class="uk-width-1-4@s" v-if="showPos">
                            <select class="uk-select uk-form-large" v-model="images[showDesc].titlepos">
                                <option value="center">Center</option>
                                <option value="left">Left</option>
                                <option value="right">Right</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-margin" v-if="showLink">
                        <input type="text" class="uk-input uk-form-large" placeholder="Link" v-model="images[showDesc].link">
                    </div>
                    <div class="uk-margin" v-if="showDescription">
                        <localized-textarea class-name="uk-textarea uk-form-large" placeholder="Description" inputName="description" :editor="true" :editor-options="editorOptions" :obj-data="images[showDesc].description" v-model="images[showDesc].description">
                        </localized-textarea>
                    </div>
                </div>
                <div class="uk-modal-footer">
                    <button class="uk-button uk-button-primary uk-float-right" type="button" @click.prevent="saveImageDesc()">Save & Close
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" :name="inputname" v-if="images" :value="JSON.stringify(images)">
    </div>
</template>

<script type="text/babel">
import draggable from 'vuedraggable'
import localeToggler from '../LocaleToggler/localetoggler'
import localizedInput from '../LocalizedInput/localizedinput'
import localizedTextarea from '../LocalizedTextarea/localizedTextarea'
export default {
    name: 'GalleryImages',
    components: { draggable, localeToggler, localizedInput, localizedTextarea },
    props: {
        current: {
            default: null
        },
        inputname: {
            default: 'images'
        },
        showLocale: {
            default: true,
        },
        showPos: {
            default: true,
        },
        showTitle: {
            default: true,
        },
        showDescription: {
            default: true,
        },
        showLink:{
          default:true,  
        },
        showModal: {
            default: true,
        }
    },
    data () {
        return {
            images: [],
            showDesc: false,
            locales: {},
            editorOptions: {
                height: 200,
                autoresize_min_height: 200,
                plugins: [
                    'emoticons textcolor colorpicker code lists contextmenu paste'
                ],
                toolbar1: 'fontsizeselect forecolor backcolor bold italic alignleft aligncenter alignright alignjustify bullist outdent indent code',
                fontsize_formats: '8pt 10pt 12pt 14pt 16pt 18pt 20pt 22pt 24pt 36pt 38pt 40pt 42pt 44pt 46pt 48pt',
                branding: false,
                menubar: false,
                paste_as_text: true,
                force_br_newlines: true,
                force_p_newlines: false,
            }
        }
    },
    created () {
        if (this.current !== null) {
            this.images = JSON.parse(this.current);
        }
    },
    methods: {
        browse () {
            const inst = this;
            moxman.browse({
                view: 'thumbs',
                oninsert (args) {
                    for (let i = 0, len = args.files.length; i < len; i++) {
                        inst.images.push({ path: args.files[i].path, title: {}, description: {}, titlepos: 'left' })
                    }
                }
            });
        },
        deleteImage (key) {
            this.images.splice(key, 1);
        },
        showDescPanel (key) {
            this.showDesc = key;
            UIkit.modal(this.$refs.showDesc).show();
        },
        saveImageDesc () {
            UIkit.modal(this.$refs.showDesc).hide();
            this.showDesc = false;
        }
    }
}
</script>

<style type="text/scss" lang="scss">
.galleryImgItem {
  display: inline-block;
  padding: 2px 5px;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  .galleryImgItemBlock {
    border: 1px solid #18c6ff;
    .galleryImg {
      overflow: hidden;
      height: 200px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.imageInfo {
  background: #1b98e0;
  padding: 20px;
  position: absolute;
  z-index: 3;
  top: 0%;
}
</style>