.link-reset {
    text-decoration: none;
    color: $easy-black;
    &:hover,
    &:link,
    &:active {
        text-decoration: none;
    }
}

.btn-custom {
    border-radius: 0 !important;
    @include default-transition;
    &--default {
        background: $accent-color;
        color: $white;
        &:hover {
            color: $white;
            background: $easy-black;
        }
    }
}

.spinner {
    // margin: 100px auto 0;
    // width: 70px;
    text-align: center;
    &.accent {
        >div {
            background-color: $accent-color;
        }
    }
    &.white {
        >div {
            background-color: $white;
        }
    }
    &.small {
        >div {
            width: 10px;
            height: 10px;
        }
    }
    &.medium {
        >div {
            width: 14px;
            height: 14px;
        }
    }
    &.large {
        >div {
            width: 18px;
            height: 18px;
        }
    }
    >div {
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}