@mixin font ($weight: normal) {
    font-family: $main-font;
    font-weight: $weight;
}
@mixin font-2 ($weight: normal) {
    font-family: $secondary-font;
    font-weight: $weight;
}

@mixin default-transition($time: 500ms) {
    transition: all $time cubic-bezier(0.390, 0.575, 0.565, 1.000) !important;
    /* easeOutSine */
}
@mixin hard-transition($time: 500ms) {
    transition: all $time cubic-bezier(0.755, 0.050, 0.855, 0.060); /* easeInQuint */
}

@mixin back-transition($time: 500ms) {
    transition: all $time cubic-bezier(0.680, -0.550, 0.265, 1.550) !important;
}

$breakpoints-bs: ("xxs": 320px, "xs": 575px, "sm": 767px, "md": 991px, "lg": 1199, "xl": 1200px);
@mixin bs-mq($width, $type: max) {
    @if map_has_key($breakpoints-bs, $width) {
        $width: map_get($breakpoints-bs, $width);
        @if $type==max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin gold-bg() {
    background-color: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
@mixin gold-tx() {
    color: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

@mixin rainbow-border() {
    background-image: repeating-linear-gradient(to right,
    #c4e17f 0px, #c4e17f 50px,
    #f7fdca 50px, #f7fdca 100px,
    #fad071 100px, #fad071 150px,
    #f0766b 150px, #f0766b 200px,
    #db9dbe 200px, #db9dbe 250px,
    #c49cdf 250px, #c49cdf 300px,
    #6599e2 300px, #6599e2 350px,
    #61c2e4 350px, #61c2e4 400px);
    background-size: 100% 10px;
    background-repeat:no-repeat;
}