/* Font Family */
$main-font-address: 'https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,700,800';
$secondary-font-address: 'https://fonts.googleapis.com/css?family=Alex+Brush';
$main-font: 'Nunito Sans', sans-serif;
$secondary-font: 'Alex Brush', cursive;

/* Colors */

$black: #101113;
$easy-black: #292828;
$white: #FFFFFF;
$grey: #e8e8e8;
$accent-color: #CD9C1A;
$easy-red: rgb(12, 10, 10);