

// Brands
$brand-1: #826528;
$brand-2: #FFFFFF;
$brand-3: #000000;
$brand-4: #F1F1F1;
$brand-5: #bf5329;

$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-span: "Raleway", sans-serif;
$font-header: "GothamPo", sans-serif;
$font-paragraph: "GothamPo", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
