@mixin border($color){
  border: 1px solid $color;
}

.border{
  @include border(red);
}

.no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin{
  margin: 0 !important;
}
.responsive {
  max-width: 100%;
  height: auto;
  display:block;
}
.centered-text {
  text-align: center;
}
.center-pos{
  margin: 0 auto;
}
.line {
  height: 1px;
  width: 100%;
  display: block;
  margin: 20px auto;
}
.clear {
  margin: 50px auto !important;
}
.head-font {
  font-family: $font-header;
  font-weight: 300;
}
.paragraph-font {
  font-family: $font-paragraph;
}
.span-font {
  font-family: $font-span;
}
.bold-font {
  font-weight: 400;
}
.bolder-font {
  font-weight: 600;
}
.uppercase{
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.lowercase{
  text-transform: lowercase;
}
.image-spinner {
  margin: auto;
}
.hidden {
  display: none;
}
