<template>
    <div :data-type="type" :data-video-id="video" :class="className" @mouseover="mouseOver"
         @mouseleave="mouseLeave"></div>
</template>
<script type="text/babel">
    const plyr = require('plyr/dist/plyr');
    export default {
        name: 'Plyrjs',
        props: {
            type: {
                default: 'youtube'
            },
            video: {
                default: ''
            },
            playOnHover: {
                default: true
            },
            identification: {
                default: false
            }
        },
        data () {
            return {
                inst: null,
                className: this.identification ? this.identification : this.video
            }
        },
        mounted () {
            this.inst = plyr.setup('.' + this.className)
        },
        methods: {
            mouseOver () {
                if (this.playOnHover) {
                    this.inst[0].play()
                }
            },
            mouseLeave () {
                if (this.playOnHover) {
                    this.inst[0].pause()
                }
            }
        }
    }
</script>
<style lang="scss" type="text/scss">
    @import "~plyr/dist/plyr.css";
</style>
