<template>
    <figure
            ref="image"
            :class="{'md__image': true, 'md__image--focused': toolbar}"
            contenteditable="false"
            :style="strStyles"
            @mouseover="toolbar = true"
            @mouseleave="toolbar = false"
    >
        <img :src="url" style="width: 100%">
        <img-toolbar v-if="toolbar" v-on:showsettings="showSettings" @mouseover="toolbar = true"></img-toolbar>
        <img-settings v-if="settings" v-on:updateStyles="updateStyles"></img-settings>
    </figure>
</template>
<script type="text/babel">
    import ImgToolbar from './Toolbar.vue'
    import ImgSettings from './Settings.vue'
    export default {
        components: {ImgToolbar, ImgSettings},
        props: {
            url: null,
            from: false
        },
        data () {
            return {
                image: $(this.$refs.image),
                toolbar: false,
                settings: false,
                styles: {
                    float: 'none',
                    margin: ['0', '0', '0', '0'],
                    padding: ['0', '0', '0', '0']
                },
                caption: false,
                link: false,
                event: null
            }
        },
        created () {
            if (this.from) {
                this.setStyles($(this.from).attr('style'));
            }
        },
        computed: {
            strStyles () {
                let mTop = this.styles.margin[0] + 'px ';
                let mRight = this.styles.margin[1] != 0 && this.float != 'none' ? this.styles.margin[1] + 'px ' : 'auto ';
                let mBottom = this.styles.margin[2] + 'px ';
                let mLeft = this.styles.margin[3] != 0 && this.float != 'none' ? this.styles.margin[3] + 'px; ' : 'auto; ';
                return 'margin: ' + mTop + mRight + mBottom + mLeft + 'float: ' + this.styles.float + '; max-width: ' + this.styles['max-width']
                    + ';width:' + this.styles['width'];
            }
        },
        watch: {
            strStyles () {
                this.toolbar = false;
                setTimeout(() => {
                    $('.md__image').trigger('updateContent');
                }, 500)
            }
        },
        methods: {
            setStyles (data) {
                let styles = {};
                data.split('; ').forEach(a => {
                    styles[a.split(': ')[0]] = a.split(': ')[1];
                });
                if (styles.hasOwnProperty("margin")) {
                    let margin = S(styles.margin).strip('px', ';',).s;
                    margin = margin.split(' ');

                    switch (margin.length) {
                        case 1:
                            this.styles.margin = [margin[0], margin[0], margin[0], margin[0]];
                            break;
                        case 2:
                            margin[1] = margin[1] != 'auto' ? margin[1] : 0;
                            this.styles.margin = [margin[0], margin[1], margin[0], margin[1]];
                            break;
                        case 3:
                            margin[1] = margin[1] != 'auto' ? margin[1] : 0;
                            this.styles.margin = [margin[0], margin[1], margin[2], margin[1]];
                            break;
                        case 4:
                            margin[1] = margin[1] != 'auto' ? margin[1] : 0;
                            margin[3] = margin[3] != 'auto' ? margin[3] : 0;
                            this.styles.margin = margin;
                            break;
                    }
                }
                if (styles.hasOwnProperty("padding")) {
                    let padding = S(styles.padding).strip('px', ';').s;
                    padding = padding.split(' ');
                    switch (padding.length) {
                        case 1:
                            this.styles.padding = [padding[0], padding[0], padding[0], padding[0]];
                            break;
                        case 2:
                            this.styles.padding = [padding[0], padding[1], padding[0], padding[1]];
                            break;
                        case 3:
                            this.styles.padding = [padding[0], padding[1], padding[2], padding[1]];
                            break;
                        case 4:
                            this.styles.padding = padding;
                            break;
                    }

                }
                if (styles.hasOwnProperty("max-width")) {
                    this.styles['max-width'] = styles['max-width'];
                }
                if (styles.hasOwnProperty("width")) {
                    this.styles['width'] = styles['width'];
                }
                if (styles.hasOwnProperty("float")) {
                    this.styles.float = styles['float'];
                }
            },
            updateStyles (newStyles) {
                this.styles = newStyles;
            },
            showSettings () {
                this.settings = true;
            }
        }
    }
</script>
<style type="text/scss" lang="scss">
    .md__image {
        position: relative;
        transition: all 0.1ms;
        z-index: 2;
        img {
            pointer-events: none;
        }
        &--focused {
            border: 2px solid #0e6dcd;
            box-sizing: border-box;
        }
    }
</style>
