<template>
    <div id="image-settings" ref="image_modal" uk-modal="center: true">
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Image Setting</h2>
            </div>
            <div class="uk-modal-body">
                <div class="uk-margin">
                    <span class="uk-label uk-width-1-1@s">Margin (px)</span>
                    <div class="uk-inline uk-width-1-1 uk-padding">
                        <div class="uk-column-1-1 uk-flex uk-flex-center">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: arrow-up"></span>
                                <input class="uk-input uk-form-width-small uk-border-circle" type="number"
                                       placeholder="Top"
                                       v-model="styles.margin[0]">
                            </div>
                        </div>
                        <div class="uk-column-1-1 uk-flex uk-flex-between">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: arrow-left"></span>
                                <input class="uk-input uk-form-width-small uk-border-circle" type="number"
                                       placeholder="Left"
                                       v-model="styles.margin[3]">
                            </div>
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: arrow-right"></span>
                                <input class="uk-input uk-form-width-small uk-border-circle" type="number"
                                       placeholder="Right"
                                       v-model="styles.margin[1]">
                            </div>
                        </div>
                        <div class="uk-column-1-1 uk-flex uk-flex-center">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: arrow-down"></span>
                                <input class="uk-input uk-form-width-small uk-border-circle" type="number"
                                       placeholder="Bottom"
                                       v-model="styles.margin[2]">
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="uk-margin">-->
                    <!--<span class="uk-label uk-width-1-1@s">Padding (px)</span>-->
                    <!--<div class="uk-inline uk-width-1-1 uk-padding">-->
                        <!--<div class="uk-column-1-1 uk-flex uk-flex-center">-->
                            <!--<div class="uk-inline">-->
                                <!--<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: arrow-up"></span>-->
                                <!--<input class="uk-input uk-form-width-small uk-border-circle" type="number"-->
                                       <!--placeholder="Top"-->
                                       <!--v-model="styles.padding[0]">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="uk-column-1-1 uk-flex uk-flex-between">-->
                            <!--<div class="uk-inline">-->
                                <!--<span class="uk-form-icon" uk-icon="icon: arrow-left"></span>-->
                                <!--<input class="uk-input uk-form-width-small uk-border-circle" type="number"-->
                                       <!--placeholder="Left"-->
                                       <!--v-model="styles.padding[3]">-->
                            <!--</div>-->
                            <!--<div class="uk-inline">-->
                                <!--<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: arrow-right"></span>-->
                                <!--<input class="uk-input uk-form-width-small uk-border-circle" type="number"-->
                                       <!--placeholder="Right"-->
                                       <!--v-model="styles.padding[1]">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="uk-column-1-1 uk-flex uk-flex-center">-->
                            <!--<div class="uk-inline">-->
                                <!--<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: arrow-down"></span>-->
                                <!--<input class="uk-input uk-form-width-small uk-border-circle" type="number"-->
                                       <!--placeholder="Bottom"-->
                                       <!--v-model="styles.padding[2]">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="uk-margin">-->
                <!--<span class="uk-label uk-width-1-1@s">Width (px)</span>-->
                <!--<input type="number" class="uk-input" v-model="image.styles.maxWidth"-->
                <!--placeholder="Width">-->
                <!--</div>-->
                <!--<div class="uk-margin">-->
                <!--<div uk-grid>-->
                <!--<div class="uk-width-2-3@s">-->
                <!--<span class="uk-label uk-width-1-1@s">Link</span>-->
                <!--<input type="text" class="uk-input" v-model.trim="image.link.url"-->
                <!--placeholder="Link">-->
                <!--</div>-->
                <!--<div class="uk-width-1-3@s">-->
                <!--<span class="uk-label uk-width-1-1@s">Target</span>-->
                <!--<select class="uk-select" v-model="image.link.target">-->
                <!--<option value="_blank">_blank</option>-->
                <!--<option value="_self">_self</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->

                <!--</div>-->
                <!--<div class="uk-margin">-->
                <!--<span class="uk-label uk-width-1-1@s">Caption</span>-->
                <!--<input type="text" class="uk-input" v-model.trim="image.caption" placeholder="Caption">-->
                <!--</div>-->
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-primary" type="button" @click="saveSettings">Save
                </button>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'ImageSettings',
        data () {
            return {
                styles: {}
            }
        },
        created () {
            this.styles = this.$parent.styles;
        },
        mounted () {
            UIkit.modal(this.$refs.image_modal).show();
            $(this.$refs.image_modal).on('hidden', () => {
                this.$parent.settings = false;
            });
        },
        methods: {
            saveSettings () {
                this.$emit('updateStyles', this.styles);
                this.closeModal();
            },
            closeModal () {
                UIkit.modal(this.$refs.image_modal).hide();
            }
        }
    }
</script>