<template>
    <li :id="model.id">
        <div class="list-data">
            <span uk-icon="icon: move"></span>
             {{model.name[Object.keys(model.name)[0]]}}
            <div class="actions uk-button-group ignorebtn">
                <a :href="'/admin/' + url + '/' + model.id + '/edit' " class="uk-icon-button uk-button-primary ignorebtn">
                    <i class="dj-pencil"></i>
                </a>
                <a href="#" class="uk-icon-button uk-button-danger" @click.prevent="$bus.emit('removePage', model)" >
                    <i class="dj-trash"></i>
                </a>
            </div>
        </div>
        <ul v-if="Object.keys(model.children).length > 0">
            <item
                    v-for="model in model.children"
                    :model="model"
                    :key="model.name"
                    :url="url"
                    >
            </item>
        </ul>
    </li>
</template>

<script type="text/babel">
    export default {
        name: 'item',
        props: ['model', 'url']
    }
</script>