<template>
    <v-select
            :debounce="500"
            :on-search="getOptions"
            :options="articles"
            placeholder="Search article"
            label="name"
            :value.sync="article"
            :on-change="setResult"
    >
    </v-select>
</template>

<script type="text/babel">
    import vSelect from "vue-select"
    export default {
        name: "AttachArticle",
        data() {
            return {
                article: null,
                articles: []
            }
        },
        methods: {
            getOptions(search, loading) {
                loading(true);
                axios.post('/admin/articles/searcharticle', {
                    searchfield: search,
                }).then(r => {
                    this.articles = r.data.articles;
                    loading(false)
                })
            },
            setResult (value) {
                if (value) {

                } else {

                }
            }
        }
    }
</script>