<template>
    <div class="localized">
        <input v-for="(locale,key) in locales" 
        :key="key" 
        :id="id" 
        :class="[className, 'localized-input', {visible: key === 0} ]" 
        :name="inputName+'['+locale.slug+']'" 
        :value="data ? data[locale.slug] : ''"
        :placeholder="placeholder + ' (' + locale.slug + ')' " 
        :data-locale="locale.slug" 
        @input="onUpdate($event.target.value, locale.slug)">
    </div>
</template>

<script type="text/babel">
export default {
    name: 'LocalizedInput',
    props: {
        availableData: {
            default: null
        },
        objData: {
            default:null
        },
        localized: {
            default: null,
        },
        inputName: {
            default: null
        },
        className: {
            default: ''
        },
        placeholder: {
            default: ''
        },
        id: {
            default: ''
        }
    },
    data () {
        return {
            data: {},
            locales: null,
        }
    },
    created () {
        if (this.availableData) {
            this.data = JSON.parse(this.availableData); 
        }
        if (this.objData) {
            this.data = this.objData;
        }
        if (this.localized) {
            this.locales = JSON.parse(this.localized);
        } else {
            this.locales = JSON.parse($(`meta[name="locales"]`).attr("content"))
        }
    },
    methods: {
        onUpdate (data,locale) {
            this.data[locale] = data;
            this.$emit('input',this.data);
        }
    }

}
</script>
<style lang="scss" type="text/scss">
.localized-input {
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
  &.visible {
    opacity: 1;
    display: block;
  }
}
</style>