<template>
    <div class="md__floatingtoolbar">
        <a href="#" class="md__floatingtoolbar__button" type="button" ref="md_floating_toolbar">
            <span uk-icon="icon: plus-circle; ratio: 1.2"></span>
        </a>
        <div class="md__floatingtoolbar__options" ref="md_floatingtoolbar_options"
             uk-drop="animation: uk-animation-slide-right; delay-hide: 10; mode: click; pos: right">
            <div class="md__floatingtoolbar__options__linksblock">
                <ul class="uk-iconnav">
                    <li>
                        <a href="" class="md__floatingtoolbar__options__linksblock__link"
                           @click.prevent="$emit('addImage')">
                            <i class="dj-picture-o"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="md__floatingtoolbar__options__linksblock__link"
                           @click.prevent="$emit('addVideo')">
                            <i class="dj-video-camera"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="md__floatingtoolbar__options__linksblock__link"
                           @click.prevent="$emit('addRow')">
                            <i class="dj-character"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="md__floatingtoolbar__options__linksblock__link"
                           @click.prevent="$emit('addHr')">
                            <i class="dj-horizontal-rule"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'FloatingToolbar',
        methods: {
            closeFloatingToolbar () {
//                UIkit.drop(this.$refs.md_floatingtoolbar_options).hide();
            },
            toolbarPos (pos) {
                $(this.$refs.md_floating_toolbar).css("top", pos);
            },
        }
    }
</script>
<style lang="scss" type="text/scss">
    .md__floatingtoolbar {
        &__button {
            position: absolute;
            left: -30px;
            top: 3px;
            transition: all 0.2s;
            text-decoration: none;
            line-height: 20px;
        }
        &__options {
            width: 150px;
            position: absolute;
            &:before {
                content: "";
                float: left;
                position: absolute;
                left: -20px;
                width: 0;
                height: 0;
                border: 0 solid transparent;
                border-top-width: 14px;
                border-bottom-width: 14px;
                border-right: 20px solid #0e6dcd;
            }
            &__linksblock {
                background: #0e6dcd;
                padding: 2px 20px;
                border-radius: 2px 20px 20px 2px;
                height: 24px;
                &__link {
                    color: #FFFFFF !important;
                    text-decoration: none;
                    display: inline-block;
                    line-height: 28px;
                    i {
                        font-size: 1.2rem;
                    }
                    &:hover {
                        text-decoration: none;
                        i {
                            color: red;
                        }
                    }
                }
            }

        }
    }

</style>