<template>
    <div class="uk-margin uk-text-right" uk-sticky="animation: uk-animation-slide-top">
        <a class="uk-button-primary uk-icon-button" @click="$emit('initSortable')">
            <span uk-icon="icon: check" v-if="$parent.sortable"></span>
            <span uk-icon="icon: move" v-else></span>
        </a>

        <a class="uk-button-primary uk-icon-button" @click="$emit('initResizable')">
            <span uk-icon="icon: check" v-if="$parent.resizable"></span>
            <span uk-icon="icon: expand" v-else></span>
        </a>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'StaticToolbar'
    }
</script>
<style lang="scss" type="text/scss">
</style>