<div class="row">
    <div class="col-6">
        <div class="press-briefly-toggler p-0 d-flex align-items-center justify-content-center border">
            <div class="toggle-press-briefly" id="toggle-press-briefly">
               <a href="javascript:void(0)" class="link-reset">PRESS BRIEFLY</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="wrapper-menu" id="toggle-wrapper-menu">
            <div class="line-menu half start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
        </div>
    </div>
</div>