<div class="section-about">
    <div class="row" data-aos="fade-right">
        <div class="col-lg-8 col-md-8 col-12 pl-4 section-about__title">
            <span>
                Our cultural heritage is a priceless treasure to be preserved
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-md-12 pl-4 section-about__text"  data-aos="fade">
            <p>United Cultures stems from the desire to promote and preserve the immense cultural heritage, enclosed in traditions,
                in art, in music, in landscapes, in people's eyes. The world and its diversity are the wealth of every human
                being. The encounter of cultures generates new energies, elevates the thought at a higher level, feeds our
                need for knowledge. Our mission is to contribute in promoting culture in all its forms, bringing people together,
                breaking down every barrier! </p>
            <p>United Cultures is an organization created with the aim of merging competence, passion, sensitivity and experience
                of a team that has been working for years at the service of culture, education and international cooperation.
                United Cultures works alongside international organizations, diplomatic missions, public and private institutions,
                in order to create cultural and educational high value projects, supporting what is being described as Cultural
                Diplomacy. </p>

                <a href="#" class="btn btn-custom btn-custom--red">READ MORE</a>
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="section-about__link section-about__link--story" data-aos="flip-down">
                <div class="section-about__link--title">
                    Our
                    <span>story</span>
                </div>
                <span> Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet.</span>
            </div>
            <div class="section-about__link section-about__link--goals" data-aos="flip-down">
                <div class="section-about__link--title">
                    Our
                    <span>goals</span>
                </div>
                <span> Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet.</span>
            </div>
            <div class="section-about__link section-about__link--awards" data-aos="flip-down">
                <div class="section-about__link--title">
                    Our
                    <span>achievements</span>
                </div>
                <span> Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet.</span>
            </div>
        </div>
    </div>
</div>