<section class="section-latest-articles">
    <div class="row">
        <ul class="categories">
            <li>Education</li>
            <li>Travel</li>
            <li>Events</li>
            <li>Culture/li>
        </ul>
    </div>
    <div class="row">
        <div class="latets-articles">
            <article class="latets-articles__item">
                <header>
                    <img src="http://via.placeholder.com/300x200" alt="">
                </header>
            </article>
        </div>
    </div>
</section>