<section class="row pt-xs-5 pt-5 mb-5">
    <div class="col-lg-4 col-sm-12 pr-lg-5">
        <div class="annual-left">
            <h2>Annual</h2>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12 pt-5">
        <div class="annual--right">
        </div>
    </div>
</section>