<section class="row pt-xs-5 pt-5 mb-5 annual">
    <div class="col-lg-4 col-sm-12 pr-lg-5">
        <div class="annual__left">
            <div class="annual__left--title">
                <h3>Annual</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12 pt-5">
        <div class="annual__right">
        </div>
    </div>
</section>