<template>
    <div :ref="'banner' + banner.id" class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s">
        <div class="uk-card uk-card-default uk-card-body">
            <h6>{{banner.name}}</h6>
            <img :src="'/uploads'+banner.image" class="uk-height-max-medium">
            <div class="uk-card-footer">
                <div class="uk-inline">
                    <a href="#"
                       class="uk-icon-button uk-button-primary uk-icon-small" uk-icon="icon: pencil"
                       @click.prevent="$emit('editBanner', banner)"></a>
                    <a href="" class="uk-icon-button uk-button-danger uk-icon-small" uk-icon="icon: trash"
                       @click.prevent="$emit('deleteBanner', $refs, banner)"></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'BannerItem',
        props: ['banner'],
    }
</script>
<style lang="scss" type="text/scss">
</style>