<template>
    <div class="uk-section">
        <div class="uk-container uk-container-small uk-margin-bottom">
            <div uk-spinner class="uk-position-center" v-if="spinner"></div>
            <div uk-grid>
                <div class="uk-width-5-6">
                    <form method="GET" action="/admin/banners/search">
                        <button class="uk-icon-button uk-button-primary" uk-icon="icon: search"></button>
                        <div uk-form-custom>
                            <input class="uk-input uk-form-width-medium uk-border-rounded" name="searchfield"
                                   type="text" placeholder="Search">
                        </div>
                    </form>
                </div>
                <div class="uk-width-1-6">
                    <a href="#modal-sections" class="uk-icon-button uk-button-secondary uk-float-right"
                       uk-icon="icon: plus" uk-toggle></a>
                    <div id="modal-sections" ref="addbannermodal" uk-modal="center: true; bg-close: false">
                        <div class="uk-modal-dialog">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div class="uk-modal-header">
                                <h2 class="uk-modal-title">New banner</h2>
                            </div>
                            <div class="uk-modal-body">
                                <div class="uk-margin uk-grid-small" uk-grid>
                                        <input class="uk-input uk-form-width-large uk-width-1-1" type="text" placeholder="Title"
                                               v-model="banner.name">
                                        <button type="button" @click="browse" class="uk-button uk-button-primary uk-width-1-3@s">
                                            Choose image
                                        </button>
                                        <select v-model="banner.pos" class="uk-select uk-width-2-3@s">
                                            <option value="left">Left</option>
                                            <option value="middle">Midddle</option>
                                        </select>
                                    <div class="uk-width-1-1" >
                                        <img :src="'/uploads'+banner.image" v-if="banner.image" class="uk-height-max-medium">
                                    </div>
                                        <input class="uk-input uk-form-width-large uk-width-1-1" type="text" placeholder="Link"
                                               v-model="banner.link">
                                </div>
                            </div>
                            <div class="uk-modal-footer uk-text-right">
                                <button class="uk-button uk-button-primary" type="button" @click="bannerToServer">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-container uk-container-small">
            <div class="uk-placeholder uk-animation-fade uk-text-center"
                 v-if="banners.data && Object.keys(banners.data) === 0">
                <h4>Nothing to show</h4>
            </div>
            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid
                 uk-height-match="target: > div > .uk-card"
                 uk-scrollspy="target: > div; cls:uk-animation-scale-up; delay: 500"
                 v-else>
                <banner-item :banner="banner" v-for="(banner, key) in banners.data" :key="key"
                             v-on:editBanner="editBanner" v-on:deleteBanner="deleteBanner"></banner-item>
            </div>
        </div>
        <div class="uk-margin uk-flex uk-padding-small">
            <div class="uk-margin-auto">
                <pagination :data="banners" v-on:pagination-change-page="loadData"></pagination>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import BannerItem from './Banner'
    export default {
        name: 'Banner',
        components: {BannerItem},
        props: ['data'],
        data () {
            return {
                banners: {},
                banner: {
                    image: null,
                    pos: 'left'
                },
                spinner: false,
                method: 'post'
            }
        },
        created () {
            this.banners = JSON.parse(this.data);
        },
        mounted () {
            $(this.$refs.addbannermodal).on('hidden', () => {
                this.banner = {image: null, pos: 'left'};
                this.method = 'post';
            });
            $(this.$refs.bannerpreviewmodal).on('hidden', () => {
                this.banner = {image: null, pos: 'left'}
            });
        },
        methods: {
            loadData (page) {
                this.spinner = true;
                if (typeof page === 'undefined') {
                    page = 1;
                }
                axios.get('/admin/banners/async?page=' + page).then(r => {
                    this.banners = r.data.banners;
                    this.spinner = false
                })
            },
            addBanner () {
                UIkit.modal(this.$refs.addbannermodal).show();
            },
            browse () {
                const inst = this;
                moxman.browse({
                    view: 'thumbs',
                    oninsert (args) {
                        inst.banner.image = args.focusedFile.path;
                    }
                });
            },
            bannerToServer () {
                this.spinner = true;
                let updateBanner = this.method === 'put' ? '/' + this.banner.id : '';
                axios[this.method]('/admin/banners' + updateBanner, this.banner).then(r => {
                    UIkit.modal(this.$refs.addbannermodal).hide();
                    this.loadData();
                    this.spinner = false;
                });
            },
            editBanner (banner) {
                this.banner = banner;
                this.method = 'put';
                UIkit.modal(this.$refs.addbannermodal).show();
            },
            deleteBanner (el, banner) {
                const elem = $(el);
                const inst = this;
                const index = this.banners.data.indexOf(banner);
                UIkit.modal.confirm('Are you sure?').then(() => {
                    axios.delete('/admin/banners/' + banner.id).then(r => {
                        setTimeout(() => {
                            elem.remove();
                            inst.banners.data.splice(index, 1);
                        }, 100);
                    })
                }, () => {
                });
            }
        }
    }
</script>
<style lang="scss" type="text/scss">
</style>