<template>
    <div :ref="'video' + video.id" class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s">
        <div class="uk-card uk-card-default uk-card-body">
            <h6>{{video.name}}</h6>
            <div class="uk-card-footer">
                <div class="uk-inline">
                    <a href="#"
                       class="uk-icon-button uk-button-primary uk-icon-small" uk-icon="icon: pencil"
                       @click.prevent="$emit('editVideo', video)"></a>
                    <a href="#modal-close-outside"
                       class="uk-icon-button uk-button-secondary uk-icon-small" uk-icon="icon: link"
                       @click.prevent="$emit('videoPreview', video)"></a>
                    <a href="" class="uk-icon-button uk-button-danger uk-icon-small" uk-icon="icon: trash"
                       @click.prevent="$emit('deleteVideo', $refs, video)"></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'VideoItem',
        props: ['video'],
    }
</script>
<style lang="scss" type="text/scss">
</style>