<template>
    <div class="uk-section">
        <div class="uk-container uk-container-small uk-margin-bottom">
            <div uk-spinner class="uk-position-center" v-if="spinner"></div>
            <div uk-grid>
                <div class="uk-width-5-6">
                    <form method="GET" action="/admin/videos/search">
                        <button class="uk-icon-button uk-button-primary" uk-icon="icon: search"></button>
                        <div uk-form-custom>
                            <input class="uk-input uk-form-width-medium uk-border-rounded" name="searchfield"
                                   type="text" placeholder="Search">
                        </div>
                    </form>
                </div>
                <div class="uk-width-1-6">
                    <a href="#modal-sections" class="uk-icon-button uk-button-secondary uk-float-right"
                       uk-icon="icon: plus" uk-toggle></a>
                    <div id="modal-sections" ref="addvideomodal" uk-modal="center: true">
                        <div class="uk-modal-dialog">
                            <div class="uk-modal-header">
                                <h2 class="uk-modal-title">New video</h2>
                            </div>
                            <div class="uk-modal-body">
                                <div class="uk-margin uk-grid-small" uk-grid>
                                    <div class="uk-width-1-1@s">
                                        <input class="uk-input uk-form-width-large" type="text" placeholder="Title"
                                               v-model="video.name">
                                    </div>
                                    <div class="uk-width-1-1@s">
                                        <textarea class="uk-textarea uk-form-width-large" rows="10" placeholder="Description" v-model="video.description"></textarea>
                                    </div>
                                    <div class="uk-width-3-4@s">
                                        <input class="uk-input uk-form-width-large" type="text" placeholder="Video Link"
                                               v-model="video.link">
                                    </div>
                                    <div class="uk-width-1-4@s">
                                        <select class="uk-select" v-model="video.type">
                                            <option value="youtube">Youtube</option>
                                            <option value="vimeo">Vimeo</option>
                                        </select>
                                    </div>
                                     <div class="uk-width-1-4@s">
                                        <select class="uk-select" v-model="video.color">
                                            <option value="blue">Blue</option>
                                            <option value="green">Green</option>
                                            <option value="orange">Orange</option>
                                            <option value="red">Red</option>                                            
                                            <option value="purple">Purple</option>
                                            <option value="tiffany">Tiffany</option>                           
                                            <option value="black">Black</option>                           
                                            <option value="white">White</option>                                                 
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-margin" v-if="video.link">
                                    <iframe :src="typeLinks[video.type] + video.link" frameborder="0" allowfullscreen width="100%" style="min-height: 300px;"></iframe>
                                </div>
                            </div>
                            <div class="uk-modal-footer uk-text-right">
                                <button class="uk-button uk-button-primary" type="button" @click="videoToServer">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-container uk-container-small">
            <div class="uk-placeholder uk-animation-fade uk-text-center"
                 v-if="videos.data && Object.keys(videos.data) === 0">
                <h4>Nothing to show</h4>
            </div>
            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid
                 uk-height-match="target: > div > .uk-card"
                 uk-scrollspy="target: > div; cls:uk-animation-scale-up; delay: 500"
                 v-else>
                <video-item :video="video" v-for="(video, key) in videos.data" :key="key"
                            v-on:editVideo="editVideo" v-on:videoPreview="videoPreview"
                            v-on:deleteVideo="deleteVideo"></video-item>
            </div>
        </div>
        <div class="uk-margin uk-flex uk-padding-small">
            <div class="uk-margin-auto">
                <pagination :data="videos" v-on:pagination-change-page="loadData"></pagination>
            </div>
        </div>
        <div id="modal-close-outside" ref="videopreviewmodal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <iframe :src="typeLinks[video.type] + video.link" frameborder="0" allowfullscreen
                        class="md__editor__video" width="100%" style="min-height: 300px;"></iframe>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
import VideoItem from './Video';
export default {
  name: 'Videos',
  components: { VideoItem },
  props: ['data'],
  data() {
    return {
      videos: {},
      spinner: false,
      video: {
        link: null,
        type: 'youtube'
      },
      typeLinks: {
        youtube: 'https://www.youtube.com/embed/',
        vimeo: 'https://player.vimeo.com/video/'
      },
      method: 'post'
    };
  },
  created() {
    this.videos = JSON.parse(this.data);
  },
  mounted() {
    $(this.$refs.addvideomodal).on('hidden', () => {
      this.video = {
        link: null,
        type: 'youtube'
      };
      this.method = 'post';
    });
    $(this.$refs.videopreviewmodal).on('hidden', () => {
      this.video = {
        link: null,
        type: 'youtube'
      };
    });
  },
  methods: {
    loadData(page) {
      this.spinner = true;
      if (typeof page === 'undefined') {
        page = 1;
      }
      axios.get('/admin/videos/async?page=' + page).then(r => {
        this.videos = r.data.videos;
        this.spinner = false;
      });
    },
    videoPreview(video) {
      this.video = video;
      UIkit.modal(this.$refs.videopreviewmodal).show();
    },
    videoToServer() {
      this.spinner = true;
      let updateVideo = this.method === 'put' ? '/' + this.video.id : '';
      axios[this.method]('/admin/videos' + updateVideo, this.video).then(r => {
        UIkit.modal(this.$refs.addvideomodal).hide();
        this.loadData();
        this.spinner = false;
      });
    },
    editVideo(video) {
      this.video = video;
      this.method = 'put';
      UIkit.modal(this.$refs.addvideomodal).show();
    },
    deleteVideo(el, video) {
      const elem = $(el);
      const inst = this;
      const index = this.videos.data.indexOf(video);
      UIkit.modal.confirm('Are you sure?').then(
        () => {
          axios.delete('/admin/videos/' + video.id).then(r => {
            setTimeout(() => {
              elem.remove();
              inst.videos.data.splice(index, 1);
            }, 100);
          });
        },
        () => {}
      );
    }
  }
};
</script>
<style lang="scss" type="text/scss">

</style>