<template>
    <div :id="product.id" v-if="product">
        <div class="uk-card uk-card-default uk-card-body">
            <h5 class="head-font">{{product.name[locale]}}</h5>
            <div class="uk-inline">
                <img :src="'/uploads' + product.image" v-if="product.image">
            </div>
            <div class="uk-margin-small">Page: {{product.page.name[locale]}}</div>
            <div class="uk-margin-small">Category: {{product.category.name[locale]}}</div>
            <div class="uk-card-footer">
                <div class="uk-inline">
                    <a href=""
                       :class="{'uk-icon-button': true, 'uk-custom-icon': true ,'uk-button-success': product.status, 'uk-button-danger': !product.status, 'uk-icon-small':true}"
                       @click.prevent="setStatus">
                        <i class="dj-power-off"></i>
                    </a>
                    <a href="#" class="uk-icon-button uk-button-primary" uk-icon="icon:cog;"></a>
                    <div uk-dropdown="pos: top-justify; animation: uk-animation-slide-top-small;">
                        <div class="uk-inline uk-margin-small">
                            <a :href="'/admin/products/' + product.id + '/edit'"
                               class="uk-icon-button uk-button-primary uk-icon-small" uk-icon="icon: pencil"></a>
                            <a :href="'/product/' + product.slug"
                               class="uk-icon-button uk-button-secondary uk-icon-small"
                               uk-icon="icon: link" target="_blank"></a>
                            <a href="" class="uk-icon-button uk-button-danger uk-icon-small" uk-icon="icon: trash"
                               @click.prevent="deleteArticle"></a>
                        </div>
                    </div>
                </div>
                <div class="uk-margin-small">
                </div>
            </div>
            <div class="uk-inline uk-margin-small">
            </div>
            <div class="uk-inline uk-margin-small">
                <a href="" uk-slidenav-previous @click.prevent="sort(-1)"></a>
                <a href="" uk-slidenav-next @click.prevent="sort(+1)"></a>
            </div>
            <div uk-spinner class="uk-position-center" v-if="spinner"></div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'Product',
        props: ['item', 'defaultLocale'],
        data () {
            return {
                product: null,
                spinner: false,
                position: null,
                locale: $('html').attr('lang')
            }
        },
        created () {
            this.product = JSON.parse(this.item);
            this.position = this.product.pos;
        },
        methods: {
            deleteArticle () {
                this.spinner = true;
                const elem = $('#' + this.product.id);
                UIkit.modal.confirm('Are you sure?').then(() => {
                    axios.delete('/admin/products/' + this.product.id).then(r => {
                        elem.addClass('uk-animation-scale-down uk-animation-reverse');
                        setTimeout(() => {
                            this.spinner = false;
                            elem.remove();
                        }, 500);
                    })
                }, () => {
                });
            },
            setStatus () {
                this.spinner = true;
                axios.get('/admin/products/setstatus/' + this.product.id).then(r => {
                    this.product.status = !this.product.status;
                    this.spinner = false;
                })
            },
            sort (pos) {
                this.spinner = true;
                axios.post('/admin/products/sort/' + this.product.id, {newpos: pos, pos: this.product.pos}).then(r => {
                    this.spinner = false;
                    this.position = this.position + pos;
                    location.reload();
                })
            }
        }
    }
</script>
<style lang="scss" type="text/scss">
</style>