<template>
    <div :ref="'slide' + slide.id" class="uk-width-1-3@l uk-width-1-2@m uk-width-1-1@s">
        <div class="uk-card uk-card-default uk-card-body">
            <h6>{{slide.name}}</h6>
            <img :src="'/uploads'+slide.image">
            <div class="uk-card-footer">
                <div class="uk-inline">
                    <a href="#"
                       class="uk-icon-button uk-button-primary uk-icon-small" uk-icon="icon: pencil"
                       @click.prevent="$emit('editSlide', slide)"></a>
                    <a href="#modal-close-outside"
                       class="uk-icon-button uk-button-secondary uk-icon-small" uk-icon="icon: link"
                       @click.prevent="$emit('slidePreview', slide)"></a>
                    <a href="" class="uk-icon-button uk-button-danger uk-icon-small" uk-icon="icon: trash"
                       @click.prevent="$emit('deleteSlide', $refs, slide)"></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'SlideItem',
        props: ['slide'],
    }
</script>
<style lang="scss" type="text/scss">
</style>