<template>
    <div class="uk-section">
        <div class="uk-container uk-container-small uk-margin-bottom">
            <div uk-spinner class="uk-position-center" v-if="spinner"></div>
            <div uk-grid>
                <div class="uk-width-5-6">
                    <form method="GET" action="/admin/slides/search">
                        <button class="uk-icon-button uk-button-primary" uk-icon="icon: search"></button>
                        <div uk-form-custom>
                            <input class="uk-input uk-form-width-medium uk-border-rounded" name="searchfield"
                                   type="text" placeholder="Search">
                        </div>
                    </form>
                </div>
                <div class="uk-width-1-6">
                    <a href="#modal-sections" class="uk-icon-button uk-button-secondary uk-float-right"
                       uk-icon="icon: plus" uk-toggle></a>
                    <div id="modal-sections" ref="addslidemodal" uk-modal="center: true; bg-close: false">
                        <div class="uk-modal-dialog">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div class="uk-modal-header">
                                <h2 class="uk-modal-title">New slide</h2>
                            </div>
                            <div class="uk-modal-body">
                                <div class="uk-margin uk-grid-small" uk-grid>
                                    <div class="uk-width-1-1@s">
                                        <input class="uk-input uk-form-width-large" type="text" placeholder="Title"
                                               v-model="slide.name">
                                    </div>
                                    <div class="uk-width-1-1@s">
                                        <button type="button" @click="browse" class="uk-button uk-button-primary">
                                            Choose image
                                        </button>
                                    </div>
                                    <div class="uk-width-1-1@s" v-if="slide.image">
                                        <img :src="'/uploads'+slide.image" alt="">
                                    </div>
                                    <div class="uk-width-1-1@s">
                                        <input class="uk-input uk-form-width-large" type="text" placeholder="Link"
                                               v-model="slide.link">
                                    </div>
                                    <div class="uk-width-1-1@s">
                                        <textarea class="uk-textarea" rows="10" v-model="slide.description"
                                                  placeholder="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-modal-footer uk-text-right">
                                <button class="uk-button uk-button-primary" type="button" @click="slideToServer">Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-container uk-container-small">
            <div class="uk-placeholder uk-animation-fade uk-text-center"
                 v-if="slides.data && Object.keys(slides.data) === 0">
                <h4>Nothing to show</h4>
            </div>
            <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid
                 uk-height-match="target: > div > .uk-card"
                 uk-scrollspy="target: > div; cls:uk-animation-scale-up; delay: 500"
                 v-else>
                <slide-item :slide="slide" v-for="(slide, key) in slides.data" :key="key"
                            v-on:editSlide="editSlide" v-on:slidePreview="slidePreview"
                            v-on:deleteSlide="deleteSlide"></slide-item>
            </div>
        </div>
        <div class="uk-margin uk-flex uk-padding-small">
            <div class="uk-margin-auto">
                <pagination :data="slides" v-on:pagination-change-page="loadData"></pagination>
            </div>
        </div>
        <div id="modal-close-outside" ref="slidepreviewmodal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-outside" type="button" uk-close></button>
                <img :src="'/uploads' + slide.image">
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import SlideItem from './Slide'
    export default {
        name: 'Slider',
        components: {SlideItem},
        props: ['data'],
        data () {
            return {
                slides: {},
                slide: {image: null},
                spinner: false,
                method: 'post'
            }
        },
        created () {
            this.slides = JSON.parse(this.data);
        },
        mounted () {
            $(this.$refs.addslidemodal).on('hidden', () => {
                this.slide = {image: null};
                this.method = 'post';
            });
            $(this.$refs.slidepreviewmodal).on('hidden', () => {
                this.slide = {image: null}
            });
        },
        methods: {
            loadData (page) {
                this.spinner = true;
                if (typeof page === 'undefined') {
                    page = 1;
                }
                axios.get('/admin/slides/async?page=' + page).then(r => {
                    this.slides = r.data.slides;
                    this.spinner = false
                })
            },
            addSlide () {
                UIkit.modal(this.$refs.addslidemodal).show();
            },
            browse () {
                const inst = this;
                moxman.browse({
                    view: 'thumbs',
                    oninsert (args) {
                        inst.slide.image = args.focusedFile.path;
                    }
                });
            },
            slidePreview (slide) {
                this.slide = slide;
                UIkit.modal(this.$refs.slidepreviewmodal).show();
            },
            slideToServer () {
                this.spinner = true;
                let updateSlide = this.method === 'put' ? '/' + this.slide.id : '';
                axios[this.method]('/admin/slides' + updateSlide, this.slide).then(r => {
                    UIkit.modal(this.$refs.addslidemodal).hide();
                    this.loadData();
                    this.spinner = false;
                });
            },
            editSlide (slide) {
                this.slide = slide;
                this.method = 'put';
                UIkit.modal(this.$refs.addslidemodal).show();
            },
            deleteSlide (el, slide) {
                const elem = $(el);
                const inst = this;
                const index = this.slides.data.indexOf(slide);
                UIkit.modal.confirm('Are you sure?').then(() => {
                    axios.delete('/admin/slides/' + slide.id).then(r => {
                        setTimeout(() => {
                            elem.remove();
                            inst.slides.data.splice(index, 1);
                        }, 100);
                    })
                }, () => {
                });
            }
        }
    }
</script>
<style lang="scss" type="text/scss">
</style>