<template>
    <div  v-if="locales" >
        <div class="uk-form-label uk-animation-slide-bottom">Locale</div>
        <select ref="localeToggle" id="locale-toggle" class="uk-select uk-input-small locale-toggle" @change="setinput">
            <option v-for="(locale, key) in locales" :key="key" :value="locale.slug" :selected="key === 0 ? true : false">
                {{locale.name}}
            </option>
        </select>
    </div>
</template>

<script type="text/babel">
export default {
    name: 'LocaleToggler',
    props: {
        availableLocales: {
            default: null
        }
    },
    data () {
        return {
            locales: null,
            current: null
        }
    },
    created () {
        if (this.localized) {
            this.locales = JSON.parse(this.availableLocales);
        } else {
            this.locales = JSON.parse($(`meta[name="locales"]`).attr("content"))
        }
        this.current = this.locales[0]['slug'];
    },
    mounted () {
        this.setinput();
    },
    methods: {
        setinput () {
            const inst = this;
            let current = $(this.$refs.localeToggle).val();
            $('.locale-toggle').val(current);
            if (typeof current != "undefined") {
                this.current = current;
            }
            $(".localized").each(function (e) {
                $(this).children("input, .input-item").each(function () {
                    let input = $(this);
                    if (input.data('locale') == inst.current) {
                        input.addClass("visible");
                    } else {
                        input.removeClass("visible");
                    }
                })
            });
        }
    }
}
</script>