<template>
    <div class="localized">
        <div :class="['localized-input','input-item', {visible: key === 0}]" v-for="(locale,key) in locales" :key="key" :data-locale="locale.slug">
            <span v-if="editor">Locale: {{`(${locale.slug})`}}</span>
            <textarea :id="id" 
            :class="[className, {localized_editor: editor}]" 

            :name="inputName+'['+locale.slug+']'" 
            :placeholder="placeholder + '(' + locale.slug + ')'" 
            rows="5" @change="onchange()" v-model="data[locale.slug]"></textarea>
        </div>
    </div>
</template>

<script type="text/babel">
export default {
    name: 'LocalizedTextarea',
    props: {
        availableData: {
            default: null
        },
        objData: {
            default:null
        },
        localized: {
            default: null,
        },
        inputName: {
            default: null
        },
        className: {
            default: ''
        },
        placeholder: {
            default: ''
        },
        id: {
            default: ''
        },
        editor: {
            default: false
        },
        editorOptions: {
            default: null
        }
    },
    data () {
        return {
            data: {},
            locales: null,
            tinymceOptions: null,
            tinymceMethods: {
                init_instance_callback: (editor) => {
                editor.on('KeyUp', (e) => {
                    const lang = editor.id.match(/\[(.*?)\]/)[1];
                    this.data[lang] = editor.getContent();
                    this.$emit('input', this.data);
                });
                editor.on('Change', (e) => {
                    const lang = editor.id.match(/\[(.*?)\]/)[1];
                    this.data[lang] = editor.getContent();
                    this.$emit('input', this.data);
                });
                editor.on('init', (e) => {
                    editor.execCommand("fontName", false, "Nunito Sans");
                });
                }
            }
        }
    },
    created () {
        if (this.availableData) {
            this.data = JSON.parse(this.availableData);
        }
        if (this.objData) {
            this.data = this.objData;
        }
        if (this.localized) {
            this.locales = JSON.parse(this.localized);
        } else {
            this.locales = JSON.parse($(`meta[name="locales"]`).attr("content"))
        }
        if (this.editorOptions) {
            this.tinymceOptions = this.editorOptions
        } else {
            this.tinymceOptions = {
                height: 300,
                autoresize_min_height: 300,
                custom_elements: 'gallery',
                plugins: [
                    'advlist autolink lists link image charmap print preview hr anchor pagebreak autoresize',
                    'searchreplace wordcount visualblocks visualchars code fullscreen',
                    'insertdatetime media nonbreaking save table contextmenu directionality gallery',
                    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc noneditable'
                ],
                toolbar1: 'undo redo | insert | fontselect | styleselect | fontsizeselect | forecolor backcolor emoticons | bold italic | alignleft aligncenter alignright alignjustify',
                toolbar2: 'print preview media | link image | gallery | bullist numlist outdent indent | codesample | fullscreen',
                fontsize_formats: '8pt 10pt 12pt 14pt 16pt 18pt 24pt 36pt',
                font_formats: "Great Vibes='Great Vibes',cursive;Pinyon Script='Pinyon Script',cursive;Overlock='Overlock',cursive;Simonetta='Simonetta',cursive;Nunito Sans='Nunito Sans',sans-serif",
                image_advtab: true,
                relative_urls: false,
                image_caption: true,
                image_advtab: true,
                image_title: true,
                branding: false,
                paste_as_text: true,
                image_class_list: [
                    { title: 'None', value: '' },
                    { title: 'Responsive-Bs-3', value: 'img-responsive' },
                    { title: 'Responsive-Bs-4', value: 'img-fluid' },
                    { title: 'Responsive-Uikit', value: 'uk-responsive-width' }
                ],
                external_plugins: {
                    moxiemanager: '/plugins/moxiemanager/plugin.min.js'
                }
            }
        }
        this.tinymceOptions.selector = '.localized_editor'
        this.tinymceOptions = Object.assign(this.tinymceOptions, this.tinymceMethods);
    },
    mounted () {
        if (this.editor) {
            tinymce.init(this.tinymceOptions);
        }
    },
    // destroyed () {
    //     tinymce.remove();
    // }
}
</script>
<style lang="scss" type="text/scss">
.localized-input {
  display: none;
  visibility: hidden;
  &.visible {
    display: block;
    visibility: visible;
  }
  > span {
    display: block;
    text-align: right;
    font-size: 12px;
  }
}
</style>