<template>
    <section class="row section-latest-articles">
        <div class="col-12">
            <!-- <div class="section-latest-articles__title">
                <h3>Latest
                    <span>Articles</span>
                </h3>
            </div> -->
            <div class="section-latest-articles__categories" v-if="categories">
                <ul>
                    <li>
                        <a href="" :class="{'active': selectedCategory == 0}" @click.prevent="selectedCategory = 0">All</a>
                    </li>
                    <li v-for="(category,key) in categories" :key="key">
                        <a href="" :class="{'active': selectedCategory == category.id}" @click.prevent="selectedCategory = category.id">
                            <div class="spinner white medium" v-if="loading && selectedCategory == category.id">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                            <span v-else>{{category.name[locale]}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row latest-articles">
                <div class="col-md-4 col-sm-6 col-12 slide-item animated pulse" v-for="(article, key) in articles" :key="key">
                    <article class="latest-articles__item">
                        <div class="latest-articles__item__image">
                            <img :src="'/uploads/' + article.image" alt="" class="img-fluid">
                        </div>
                        <div class="latest-articles__item__info">
                            <h3>{{article.name[locale]}}</h3>
                            <div class="latest-articles__item__info__readmore">
                                <a :href="'/article/'+ article.url">Readmore</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row mt-3 mb-5">
                <div class="col-12" v-if="loading">
                    <div class="spinner accent large">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
                <div class="col-12 text-center" v-else>
                    <a href="" :class="['btn', 'btn-custom', 'btn-custom--default', {'disabled': empty}]" @click.prevent="loadByCategory()">
                        <span v-if="!empty">
                            Load more
                        </span>
                        <span v-else>
                                All articles loaded
                        </span>
                        </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'Articles',
    props: {
        initialCategories: {
            default: null
        },
        initialArticles: {
            default: null,
        },
        currentCategory: {
            default: 0
        }
    },
    data () {
        return {
            categories: null,
            articles: null,
            locale: $('html').attr('lang'),
            loading: false,
            selectedCategory: 0,
            nextPage: 2,
            empty: false,
        }
    },
    watch: {
        selectedCategory () {
            this.nextPage = 1;
            this.empty = false;
            this.loadByCategory();
        }
    },
    created () {
        this.categories = this.initialCategories !== null ? JSON.parse(this.initialCategories) : null;
        this.articles = this.initialArticles !== null ? JSON.parse(this.initialArticles) : null;
        this.selectedCategory = this.currentCategory;
    },
    methods: {
        loadByCategory () {
            this.loading = true;
            axios.get(`/article/category/${this.selectedCategory}?page=${this.nextPage}`).then(r => {
                if (this.nextPage > 1) {
                    for (const key in r.data.data) {
                        if (r.data.data.hasOwnProperty(key)) {
                            const element = r.data.data[key];
                            this.articles.push(element);
                        }
                    }
                    this.nextPage = this.nextPage + 1;
                } else {
                    this.articles = r.data.data;
                    this.nextPage = 2;
                }
                if(r.data.data.length == 0) {
                    this.empty = true;
                }
                this.loading = false;
            }).catch(e => {

            })
        },
    }
}
</script>
