<template>
    <div :id="report.id" v-if="report">
        <div class="uk-card uk-card-default uk-card-body">
            <h5 class="head-font">{{report.name[locale]}}</h5>
            <div class="uk-inline">
                <img :src="'/uploads' + report.image" v-if="report.image">
            </div>
            <div class="uk-padding-small">
                {{report.year}}
            </div>
            <div class="uk-card-footer">
                <div class="uk-inline">
                    <a href="" :class="{'uk-icon-button': true, 'uk-custom-icon': true ,'uk-button-success': report.status, 'uk-button-danger': !report.status, 'uk-icon-small':true}" @click.prevent="setStatus">
                        <i class="dj-power-off"></i>
                    </a>
                    <a href="#" class="uk-icon-button uk-button-primary" uk-icon="icon:cog;"></a>
                    <div uk-dropdown="pos: top-justify; animation: uk-animation-slide-top-small;">
                        <div class="uk-inline uk-margin-small">
                            <a :href="'/admin/reports/' + report.id + '/edit'" class="uk-icon-button uk-button-primary uk-icon-small" uk-icon="icon: pencil"></a>
                            <a :href="'/report/' + report.slug" class="uk-icon-button uk-button-secondary uk-icon-small" uk-icon="icon: link" target="_blank"></a>
                            <a href="" class="uk-icon-button uk-button-danger uk-icon-small" uk-icon="icon: trash" @click.prevent="deleteReport"></a>
                        </div>
                    </div>
                </div>
                <div class="uk-margin-small">
                </div>
            </div>
            <div class="uk-inline uk-margin-small">
            </div>
            <div class="uk-inline uk-margin-small">
                <a href="" uk-slidenav-previous @click.prevent="sort(-1)"></a>
                <a href="" uk-slidenav-next @click.prevent="sort(+1)"></a>
            </div>
            <div uk-spinner class="uk-position-center" v-if="spinner"></div>
        </div>
    </div>
</template>

<script type="text/babel">
export default {
    name: 'Report',
    props: ['item', 'defaultLocale'],
    data () {
        return {
            report: null,
            spinner: false,
            position: null,
            locale: $('html').attr('lang')
        }
    },
    created () {
        this.report = JSON.parse(this.item);
        this.position = this.report.pos;
    },
    methods: {
        deleteReport () {
            this.spinner = true;
            const elem = $('#' + this.report.id);
            UIkit.modal.confirm('Are you sure?').then(() => {
                axios.delete('/admin/reports/' + this.report.id).then(r => {
                    elem.addClass('uk-animation-scale-down uk-animation-reverse');
                    setTimeout(() => {
                        this.spinner = false;
                        elem.remove();
                    }, 500);
                })
            }, () => {
            });
        },
        setStatus () {
            this.spinner = true;
            axios.get('/admin/reports/setstatus/' + this.report.id).then(r => {
                this.report.status = !this.report.status;
                this.spinner = false;
            })
        },
        sort (pos) {
            this.spinner = true;
            axios.post('/admin/reports/sort/' + this.report.id, { newpos: pos, pos: this.report.pos }).then(r => {
                this.spinner = false;
                this.position = this.position + pos;
                location.reload();
            })
        }
    }
}
</script>
<style lang="scss" type="text/scss">
</style>