<template>
    <div :id="brief.id" v-if="brief">
        <div class="uk-card uk-card-default uk-card-body">
            <h5 class="head-font">{{brief.name[locale]}}</h5>
            <div class="uk-inline">
                <img :src="'/uploads' + brief.image" v-if="brief.image">
            </div>
            <div class="uk-padding-small">
                {{brief.year}}
            </div>
            <div class="uk-card-footer">
                <div class="uk-inline">
                    <a href="" :class="{'uk-icon-button': true, 'uk-custom-icon': true ,'uk-button-success': brief.status, 'uk-button-danger': !brief.status, 'uk-icon-small':true}" @click.prevent="setStatus">
                        <i class="dj-power-off"></i>
                    </a>
                    <a href="#" class="uk-icon-button uk-button-primary" uk-icon="icon:cog;"></a>
                    <div uk-dropdown="pos: top-justify; animation: uk-animation-slide-top-small;">
                        <div class="uk-inline uk-margin-small">
                            <a :href="'/admin/briefs/' + brief.id + '/edit'" class="uk-icon-button uk-button-primary uk-icon-small" uk-icon="icon: pencil"></a>
                            <a :href="'/brief/' + brief.slug" class="uk-icon-button uk-button-secondary uk-icon-small" uk-icon="icon: link" target="_blank"></a>
                            <a href="" class="uk-icon-button uk-button-danger uk-icon-small" uk-icon="icon: trash" @click.prevent="deleteReport"></a>
                        </div>
                    </div>
                </div>
                <div class="uk-margin-small">
                </div>
            </div>
            <div class="uk-inline uk-margin-small">
            </div>
            <div class="uk-inline uk-margin-small">
                <a href="" uk-slidenav-previous @click.prevent="sort(-1)"></a>
                <a href="" uk-slidenav-next @click.prevent="sort(+1)"></a>
            </div>
            <div uk-spinner class="uk-position-center" v-if="spinner"></div>
        </div>
    </div>
</template>

<script type="text/babel">
export default {
    name: 'Brief',
    props: ['item', 'defaultLocale'],
    data () {
        return {
            brief: null,
            spinner: false,
            position: null,
            locale: $('html').attr('lang')
        }
    },
    created () {
        this.brief = JSON.parse(this.item);
        this.position = this.brief.pos;
    },
    methods: {
        deleteReport () {
            this.spinner = true;
            const elem = $('#' + this.brief.id);
            UIkit.modal.confirm('Are you sure?').then(() => {
                axios.delete('/admin/briefs/' + this.brief.id).then(r => {
                    elem.addClass('uk-animation-scale-down uk-animation-reverse');
                    setTimeout(() => {
                        this.spinner = false;
                        elem.remove();
                    }, 500);
                })
            }, () => {
            });
        },
        setStatus () {
            this.spinner = true;
            axios.get('/admin/briefs/setstatus/' + this.brief.id).then(r => {
                this.brief.status = !this.brief.status;
                this.spinner = false;
            })
        },
        sort (pos) {
            this.spinner = true;
            axios.post('/admin/briefs/sort/' + this.brief.id, { newpos: pos, pos: this.brief.pos }).then(r => {
                this.spinner = false;
                this.position = this.position + pos;
                location.reload();
            })
        }
    }
}
</script>
<style lang="scss" type="text/scss">
</style>