<template>

</template>
<script type="text/babel">

  export default {
    name: 'Localization',
   
  }
</script>

<style lang="scss" type="text/scss">
  .localizationblock {
    max-height: 3200px;
    overflow-y: auto;
  }

  .keyVal {
    display: flex;
    align-items: center;
    .arrow {
      text-align: center;
      font-size: 28px;
    }
    .removeItem {
      cursor: pointer;
      pointer-events: inherit !important;
      &:hover {
        color: orange;
      }
    }
  }

</style>

