.link-reset {
    text-decoration: none;
    color: $easy-black;
    &:hover,
    &:link,
    &:active {
        text-decoration: none;
    }
}

.btn-custom {
    border-radius: 0 !important;
    @include default-transition;
    &--red {
        background: $red;
        color: $white;
        &:hover {
            color: $white;
            background: $easy-black;
        }
    }
}