@import "variables";
@import "mixins";
@import "helpers";
@import url($main-font-address);
@import url($secondary-font-address);
html {
    overflow-x: hidden;
    &.overflow {
        overflow: hidden !important;
    }
}
body {
    @include font(200);
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background: $white;
    position: relative;
    padding-bottom: 6rem;
    @include bs-mq(sm,min) {
        padding: 0 20px;
    }
    @include bs-mq(md,min) {
        padding: 0 30px;
    }
    .overlay {
        @include default-transition;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($easy-black, 0.5);
        z-index: 10;
    }
}


.main-container {
    background: $white;
}

.main-wrapper {
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
    position: relative;
    @include bs-mq(xs) {
        width: 100%;
    }
   
}

/* OFFCANVAS */

.offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    min-height: 100%;
    z-index: 1000;
    @include default-transition;
}

/* END OFFCANVAS */

/* HAMBURGER */

.wrapper-menu {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1002;
    cursor: pointer;
    transition: transform 330ms ease-out;
    &.open {
        transform: rotate(-45deg);
    }
}

.line-menu {
    background-color: $black;
    border-radius: 5px;
    width: 100%;
    height: 4px;
    &.half {
        width: 50%;
    }
    &.start {
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: right;
    }
}

.open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
}

/* END HAMBURGER */

/* MAIN NAV */

.main-nav {
    width: 350px;
    right: -275px;
    background: $white;
    @include bs-mq(xs) {
        right: -999px;
        width: 90%;
    }
    &.opened {
        right: 0;
        box-shadow: 0 0 100px $grey;
        z-index: 1001;
        ul {
            transform: translateX(0) !important;
        }
    }
    ul {
        list-style: none;
        text-align: right;
        font-size: 1.7rem;
        font-weight: 400;
        @include back-transition(.8s);
        transform: translateX(300px);
        li {
            a {
                text-decoration: none;
                color: $easy-black;
                position: relative;
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
                &::after {
                    @include default-transition;
                    content: '';
                    width: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 2px;
                    background: $red;
                }
            }
        }
    }
}

/* END MAIN NAV */

/* PRESS BRIEFLY */

.press-briefly {
    width: 600px;
    left: -540px;
    background: $white;
    display: flex;
    @include bs-mq(sm) {
        width: 450px;
        left: -390px;
    }
    @include bs-mq(xs) {
        width: 100%;
        left: -100%;
    }
    &.opened {
        left: 0;
        box-shadow: 0 0 100px $grey;
        z-index: 1003;
        ul {
            transform: translateX(0) !important;
        }
    }
    &__toggler {
        width: 60px;
        float: right;
        text-align: center;
        @include bs-mq(xs) {
            width: 16%;
        }
    }
    &-content {
        width: 540px;
        @include bs-mq(sm) {
            width: 390px;
        }
        @include bs-mq(xs) {
            width: 84%;
        }
        padding-top: 20px;
        ul {
            list-style: none;
            li {
                display: block;
                min-height: 70px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                &:hover {
                    background: $easy-black;
                    a {
                        color: $white;
                    }
                }
                a {
                    @include default-transition;
                    text-decoration: none;
                    flex-grow: 1;
                    color: $easy-black;
                    padding-right: 20px;
                    img {
                        float: left;
                        height: 100%;
                        margin-right: 10px;
                    }
                    p {
                        @include font(300);
                        margin-top: 10px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .toggle-press-briefly {
        &.open {
            a {
                &:after {
                    width: 100%;
                }
            }
        }
        padding: 10px;
        a {
            width: 130px;
            transform: rotate(270deg);
            text-align: center;
            @include font(700);
            position: relative;
            color: $easy-black;
            display: block;
            margin: 0 auto;
            &:after {
                @include default-transition;
                position: absolute;
                bottom: 0;
                left: 0;
                content: "";
                height: 1px;
                background: $red;
                width: 0;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

/* END PRESS BRIEFLY */

/* LOGO */

.logo {
    text-align: center;
    &__text {
        font-size: 1.5rem;
        @include font(700);
        margin-top: 10px;
        margin-bottom: 10px;
        @include bs-mq(md) {
            font-size: 1.2rem;
        }
    }
    img {
        width: 100px;
    }
    .social {
        margin-bottom: 10px;
        .facebook-icon {
            width: 15px;
        }
        .instagram-icon {
            width: 20px;
        }
    }
}

.logo-style-two {
    padding-top:30px; 
    padding-bottom:15px;
    padding-right:20px; 
    padding-left:20px; 
    z-index: 1;
    background: $white;
    position: absolute;
    top: 0;
    left: 30px;
    @include bs-mq(sm) {
        position: initial;
        text-align: center;
    }
    img {
        width: 100px;
    }
    .social {
        margin-top: 15px;
        text-align: center;
        .facebook-icon {
            width: 15px;
        }
        .instagram-icon {
            width: 20px;
        }
    }
}

/* END LOGO */

/* MOBILE TOPPANEL */

.mobile-toppanel {
    &__social {
        .facebook-icon {
            width: 13px;
        }
        .instagram-icon {
            width: 18px;
        }
    }
    .press-briefly-toggler {
        position: relative;
        z-index: 2;
    }
}

/* END MOBILE TOPPANEL */

/* MAIN SLIDER */

.main-slider {
    position: relative;
    &:after {
        content: "";
        height: 6px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include rainbow-border;
    }
    &__slide {
        position: relative;
        height: 450px;
        @include bs-mq(md) {
            height: 320px;
        }
        @include bs-mq(sm) {
            height: 300px;
        }
        @include bs-mq(xs) {
            height: 250px;
        }
        @include bs-mq(xxs) {
            height: 200px;
        }
        img {
            height: 100%;
            width: 100%;
            object-position: center center;
            object-fit: cover;
        }
        &--date {
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 100%;
            background: $red;
            color: $white;
            z-index: 3;
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            @include font(500);
            font-size: 1.3rem;
            line-height: 20px;
            span {
                display: block;
            }
        }
        &--title {
            padding: 0 10px;
            width: 60%;
            position: absolute;
            bottom: 20px;
            right: 10px;
            text-align: right;
            a {
                text-decoration: none;
                color: $white;
            }
            @include bs-mq(sm) {
                width: 100%;
                bottom: 2px;
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: rgba($easy-black, .1);
            width: 100%;
            height: 100%;
        }
    }
    .slick-nav {
        position: absolute;
        top: 50%;
        z-index: 2;
        &--prev {
            left: 10px;
        }
        &--next {
            right: 10px;
        }
        img {
            width: 30px;
        }
    }
}

/* END MAIN SLIDER */

/* SECTION ABOUT */

.section-about {
    &__title {
        @include font(500);
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__text {
        @include font(300);
        @include bs-mq(md) {
            padding-bottom: 50px;
        }
    }
    &__link {
        border: 1px solid $grey;
        border-left-width: 5px;
        border-left-color: $red;
        padding: 20px 20px;
        height: 150px;
        text-align: right;
        margin-top: 30px;
        &:first-of-type {
            margin-top: 0;
        }
        cursor: pointer;
        position: relative;
        @include default-transition;
        &:hover {
            box-shadow: inset 300px 0 0 0 $red !important;
            color: $white;
        }
        &--title {
            font-size: 1.5rem;
            text-transform: uppercase;
            line-height: 20px;
            @include gold-tx;
            span {
                font-weight: 700;
                display: block;
            }
        }
        &--story {
            background: url('/images/story.svg') 10% center no-repeat;
            background-size: 60%;
        }
        &--goals {
            background: url('/images/goals.svg') 10% center no-repeat;
            background-size: 50%;
        }
        &--awards {
            background: url('/images/award.svg') 10% center no-repeat;
            background-size: 70%;
        }
    }
}

/* END SECTION ABOUT */

/* SECTION RECOMENDED EVENTS */

.recomended-events {
    background: $easy-black;
    height: 100%;
    padding: 48px;
    min-width: 300px;
    @include bs-mq(sm) {
        margin-top: 50px;
    }
    &__title {
        color: $white;
        text-align: center;
        width: 72%;
        margin-top: -20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        h3 {
            font-size: 1.1rem;
            @include font(200);
            letter-spacing: 2px;
        }
    }
    &__more-events {
        width: 100%;
        z-index: 1;
        padding-top: 8px;
        a {
            text-align: center;
            color: $red;
            border: 1px solid $red;
            padding: 5px 10px;
            @include default-transition;
            font-size: .8rem;
            &:hover {
                border: 1px solid $white;
                color: $white;
                background: $red;
            }
        }
    }
    &__event {
        position: relative;
        max-width: 300px;
        max-height: 387px;
        margin-left: auto;
        margin-right: auto;
        img {
            margin-left: -20px;
        }
        &--info {
            background: $white;
            padding: 20px;
            position: relative;
            top: -110px;
            left: 20px;
            span {
                display: block;
                margin: 0 auto;
                width: 70%;
                background: $red;
                padding: 5px 2px;
                color: $white;
                font-size: 13px;
                font-weight: 300;
                text-align: center;
                margin-bottom: 15px;
            }
            h3 {
                color: $black;
                @include font(400);
                font-size: 1rem;
                text-align: center;
                text-transform: uppercase;
            }
            p {
                margin-top: 10px;
            }
            a {
                float: right;
                color: $easy-black;
                font-size: 2.5rem;
                text-decoration: none;
                @include default-transition;
                line-height: 20px;
                margin-right: -10px;
                &:hover {
                    color: red;
                    transform: rotate(180deg);
                }
            }
        }
    }
}

/* END SECTION RECOMENDED EVENTS */

/* SECTION GALLERY OF THE MONTH */

.gallery-of-the-month {
    margin-top: 100px;
    padding-top: 20px;
    @include bs-mq(sm) {
        margin-bottom: 50px;
    }
    &__title {
        h3 {
            color: $black;
            @include font(300);
            text-transform: uppercase;
            font-size: 2rem;
            span {
                font-weight: 500;
            }
        }
    }
}

/* END SECTION GALLERY OF THE MONTH */

/* LATEST ARTICLES */

.section-latest-articles {
    &__title {
        text-align: center;
        padding: 50px 10px 30px 10px;
        h3 {
            text-transform: uppercase;
            font-size: 2rem;
            @include font(200);
            span {
                font-weight: 500;
            }
        }
    }
    &__categories {
        text-align: center;
        margin-bottom: 20px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline;
                padding: 0 5px;
                a {
                    color: $easy-black;
                    text-transform: uppercase;
                    border: 1px solid $red;
                    display: inline-block;
                    padding: 10px 20px;
                    text-decoration: none;
                    position: relative;
                    @include default-transition(1s);
                    margin-bottom: 10px;
                    &:hover,
                    &.active {
                        box-shadow: inset 300px 0 0 0 $red;
                        color: $white;
                    }
                }
            }
        }
    }
    .latest-articles {
        width: 80%;
        margin: 0 auto;
        z-index: 0;
        padding: 10px;
        @include bs-mq(md) {
            width: 90%;
        }
        @include bs-mq(sm) {
            width: 100%;
        }
        .slide-item {
            display: flex;
            justify-content: center;
            padding: 15px 15px;
        }
        &__item {
            margin: 0 auto;
            width: 100%;
            position: relative;
            z-index: 9999;
            box-shadow: 0 0 30px $grey;
            img {
                width: 100%;
            }
            &__info {
                padding: 30px;
                text-align: center;
                background: $white;
                h3 {
                    @include font(300);
                    font-size: 1.2rem;
                    margin-bottom: 20px;
                    font-weight: 300;
                }
                a {
                    color: $red;
                    text-decoration: none;
                    @include default-transition;
                    &:hover {
                        color: $easy-black;
                    }
                }
            }
        }
    }
}

/* END LATEST ARTICLES */

/* ONE BIG EVENT */

.one-big-event {
    background: $easy-black;
    height: 100%;
    padding: 48px 30px;
    position: relative;
    min-width: 300px;
    &__title {
        margin-bottom: 40px;
        h3 {
            text-transform: uppercase;
            text-align: center;
            color: $white;
            font-size: 1.1rem;
            @include font(200);
            letter-spacing: 2px;
            margin-bottom: 20px;
        }
    }
    &__info {
        color: $white;
        max-width: 300px;
        margin: 0 auto;
        &--day {
            float: left;
            font-size: 8em;
            @include font-2;
            line-height: 120px;
            width: 50%;
            perspective: 1000;
            @include default-transition(1s);
            @include bs-mq(sm) {
                font-size: 7em;
            }
            animation-name: flip;
            animation-iteration-count: infinite;
            animation-duration: 5s;
        }
        &__right {
            width: 50%;
            float: right;
            padding-left: 12px;
            padding-top: 5px;
            font-size: 1.7rem;
            @include bs-mq(xs) {
                font-size: 1.5rem;
                padding-left: 10px;
            }
            span {
                @include font(200);
                line-height: 27px;
                display: block;
            }
        }
        &--time {
            font-size: 4rem;
            text-align: center;
            color: $red;
            @include default-transition(1s);
            animation-name: scale;
            animation-iteration-count: infinite;
            animation-duration: 3s;
        }
        h3 {
            @include font(200);
            text-align: center;
        }
        &--image {
            margin-top: 12px;
            margin-bottom: 50px;
            display: none;
            @include bs-mq(sm) {
                display: block;
            }
        }
    }
    &:after {
        position: absolute;
        right: -60px;
        top: 40%;
        content: "";
        width: 0;
        height: 0;
        border-top: 60px solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 60px solid $easy-black;
        @include bs-mq(md) {
            display: none;
        }
        @include bs-mq(xs) {
            left: 30%;
        }
    }
    &--image {
        margin-top: 12px;
        margin-bottom: 50px;
        @include bs-mq(sm) {
            display: none;
        }
    }
}

/* END ONE BIG EVENT */

/* ANNUAL */

.annual {
    min-width: 300px;
    &__left {
        background: $black;
        height: 100%;
        padding: 48px 30px;
        &__title {
            margin-bottom: 40px;
            h3 {
                text-transform: uppercase;
                text-align: center;
                color: $white;
                font-size: 1.1rem;
                @include font(200);
                letter-spacing: 2px;
                margin-bottom: 20px;
            }
        }
        &__image {
            text-align: center;
        }
        &__more {
            text-align: center;
            padding-top: 30px;
            a {
                text-transform: uppercase;
                text-align: center;
                color: $red;
                padding: 5px 10px;
                @include default-transition;
                font-size: 1rem;
                text-decoration: none;
                &:hover {
                    border: 1px solid $white;
                    color: $white;
                    background: $red;
                }
            }
        }
    }
    &__right {
        &__text {
            font-size: 1.7rem;
            padding-bottom: 30px;
        }
        &__contacts {
            font-size: 1.6rem;
            &--title {
                @include font(500);
                font-size: 2rem;
                padding-bottom: 10px;
            }
            &--address {
                img {
                    width: 20px;
                }
            }
            &--email {
                img {
                    width: 20px;
                }
            }
        }
    }
}

/* END ANNUAL */

/* FOOTER */

.footer {
    height: 60px;
    text-align: center;
    padding: 20px;
    color: $white;
    background: $easy-black;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* END FOOTER */



/* ARTICLE READ */

.article-read {
    position: relative;
    &__cover {
        position: relative;
        &__image {
            position: relative;
            img {
                object-fit: cover;
                width: 100%;
            }
            &:after {
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                top:0;
                left:0;
                background: rgba($easy-black, .2);
            }
        }
        &__title {
            position: absolute;
            top: 40%;
            right: 20px;
            width: 60%;
            @include default-transition(1s);
            text-align: right;
            @include bs-mq(sm) {
                width: 100%;
                text-align: center;
                top: 20%;
                right: 0;
            }
            h3 {
                color: $white;
                @include font(200);
                text-transform: uppercase;
                @include bs-mq(sm) {
                    font-size: 1.2rem;
                }
            }
            &.topanel {
                z-index: 3;
                @include bs-mq(sm,min) {
                    top: 30px;
                    h3 {
                        color: $easy-black;
                    }
                }
                
            } 
        }
    }
    &__rightpanel {
        padding:40px;
        width: 70%;
        background: rgba($white,1);
        position: fixed;
        top: 0;
        right: -999px;
        z-index: 1;
        @include hard-transition(.6s);
        height: 100%;
        min-height: 100%;
        @include bs-mq(sm) {
           right: 0;
           width: 100%;
           z-index: 0;
           position: initial;
           padding: 20px;
        }
        &.show {
            right: 0;
            .article-read__rightpanel__content {
               opacity: 1;
            }
            
        }
        &__content {
            padding-right:40px;
            height: 100%;
            min-height: 100%;
            overflow-y: auto;
            @include default-transition(1.5s);
            transform: translateY(450px);
            opacity: 0;
            @include bs-mq(sm) {
            padding-right: 0;
              opacity: 1;
              transform: translateY(0);
             }
            p {
                font-size: 1.2rem;
            }
           
        }
    }
}



/* END ARTICLE READ */


/* ANIMATIONS */

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fadeup {
    0% {
        transform: translateY(450px);
        opacity: 0
    }
    50% {
        opacity: .5;
    }
    100% {
        transform: translateY(100px);
        opacity: 1;
    }
}
/* END ANIMATIONS */